.ide-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2rem auto;
    position: absolute;
    top: 0;
    left: 0;
    height: 90vh;
    width: 90vw;
}

.toolbar {
    grid-row: 1;
}

.toolbar {
    display: flex;
    flex-direction: row;
}
.panel {
    border: 1px solid black;
    border-radius: 0rem;
    min-height: 400px;
}
.panel.right {
    grid-column: 3/3;
}

.toolbar {
    border: 0px solid red;
    background-color: #ccc;
    padding: 0.25em;
}



.tree-view {
    list-style: none;
    border: 0px solid red;
    padding:0;
    padding-left: 1rem;
    margin:0;
}
.tree-children {
    list-style: none;
    border: 0px solid red;
    padding-left: 1rem;
    margin:0;
}
.tree-item-info {
    padding: 0.25em 0.5em;
}
.tree-parent.selected > .tree-item-info {
    background-color: aquamarine;
}
.tree-item {
    border:0px solid blue;
    margin:0;
    padding: 0.25em 0.5em;
}
.tree-item.selected {
    background-color: aquamarine;
}



.popup-wrapper {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background-color: transparent;
}
.popup-wrapper.hidden {
    display: none;
}
.popup-scrim {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background-color: rgba(255,0,0,0.0);
}
.popup-container {
    position: absolute;
    top: 20px;
    left: 20px;
    border: 0px solid black;
}

ul.menu {
    border: 1px solid black;
    background-color: #cccccc;
    list-style: none;
    margin:0;
    padding:0;
}
ul.menu .menu-item {
    padding: 0.25em 0.5em;
}
ul.menu .menu-item:hover {
    background-color: aquamarine;
}





.canvas-wrapper {
    border: 0px solid rebeccapurple;
    padding:0;
    margin:0;
    overflow: scroll;
    width: 100%;
    position: relative;
    background-color: magenta;
}
.canvas-sizer {
    border: 5px solid red;
    box-sizing: border-box;
    padding:0;
    margin:0;
    background-color: magenta;
    position: absolute;
}
.draw-surface {
    border: 5px solid green;
    position: absolute;
}

.vbox {
    display: flex;
    flex-direction: column;
}

.grow {
    flex: 1.0;
}


.dialog {
    background-color: #cccccc;
    padding: 1em;
    border: 4px solid red;
}
